{% extends 'base.html.twig' %}

{% block title %}Hello TicketController!{% endblock %}

{% block body %}
    <h1>Liste des tickets</h1>

<div class="card">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Titre</th>
            <th scope="col">Description</th>
            <th scope="col">Créateur</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
            <tr>
                <th scope="row">{{ ticket.id }}</th>
                <td>{{ ticket.title }}</td>
                <td>{{ ticket.description }}</td>
                <td>{{ ticket.creator }}</td>
                <td><a href="{{ path('ticket_edit', {id : ticket.id}) }}"><button class="btn btn-outline-primary">Modifier</button></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <br>
    <a href="{{ path('ticket_new') }}"><button class="btn btn-outline-primary">Nouveau Ticket</button></a>
{% endblock %}
